@import "nuxt-transitions";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'BPG Excelsior DejaVu 2010';
  src: url('../font/BPGExcelsiorDejaVu2010.woff2') format('woff2'),
  url('../font/BPGExcelsiorDejaVu2010.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MRBOHO';
  src: url('../font/MRBOHOBETA3-Regular.woff2') format('woff2'),
  url('../font/MRBOHOBETA3-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply overflow-x-hidden;
    &.menu-open {
      @apply overflow-hidden;
    }
  }
  html,
  body {
    @apply max-w-full scroll-smooth;
    font-family: 'BPG Excelsior DejaVu 2010', sans-serif;
    font-weight: normal;
    font-style: normal;
    .latin {
      font-family: 'MRBOHO', sans-serif;
      font-weight: normal;
      font-style: normal;
    }
    &.cart-open {
      overflow: hidden;
    }
  }
}
